<div class="create-post-wrapper">
  <div class="create-post-content">
    <h1>Create New Post</h1>
    <span class="create-post-form-label">Recipe Title</span>
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>

    <span class="create-post-form-label">Recipe Category (Chinese, Italian, etc.)</span>
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>

    <span class="create-post-form-label">Recipe Image URL</span>
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>

    <span class="create-post-form-label">Recipe Ingredients (enter with units and comma separated)</span>
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>


    <span class="create-post-form-label">Recipe Steps (comma separated)</span>
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>

    <button mat-button color="primary" (click)="submitPost()">Submit</button>
  </div>
</div>