<div class="feed-wrapper">
  <mat-form-field appearance="fill">
    <mat-label><span class="filter-text">Filter Feed</span></mat-label>
    <mat-select>
      <mat-option *ngFor="let filter of filters" [value]="filter.value">
        {{filter.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngFor="let feedPost of filteredPosts" class="post">
    <mat-card class="post-card">
      <mat-card-header>
        <div mat-card-avatar class="post-header-image"></div>
        <mat-card-title>{{ feedPost.authorUsername }}</mat-card-title>
        <mat-card-subtitle>
          <span class="post-date">{{ feedPost.postDate }}</span>
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{feedPost.imageUrl}}" alt="{{feedPost.postTitle}}">
      <mat-card-content>
        <div class="recipe-ingredients">
          <span class="recipe-ingredients-title">Ingredients</span>
          <span *ngFor="let ingredient of feedPost.postIngredients" class="recipe-ingredient">{{ ingredient }}</span>
        </div>
        <div class="recipe-steps">
          <span class="recipe-steps-title">Steps</span>
          <span *ngFor="let step of feedPost.postSteps" class="recipe-step">{{ step }}</span>
        </div>
        <div class="likes">
          Likes ({{ feedPost.likeCount }})
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="likePost(feedPost)">LIKE</button>
        <button mat-button>COMMENT</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>